@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Choosing a Ski Pass</h1>
    <p class="lead">It will be fun!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Birthday Gifts</h2>
        <p><a class="btn btn-lg btn-block btn-primary" href="/MyParty/MyGift">My Gifts</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Birthday Friends</h2>
        <p><a class="btn btn-lg btn-block btn-default" href="/MyParty/MyFriends">My Friends</a></p>
    </div>
    <div class="col-md-4">
        <h2>Party Details</h2>
        <p><a class="btn btn-lg btn-block btn-info" href="/MyParty/Details">Details</a></p>
    </div>
</div>