@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UV Inmate Registry <i class="fa-2x fa-fort-awesome"></i></h1>
    <p class="lead">See registered inmates from Utah Valley County</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><i class="fa fa-address-card"></i> View UV Registry</h2>
        <p>
            A registry of personel is provided to help the general public to be aware of local UV inmates.
        </p>
    </div>
    <div class="col-md-4">
        <h2><i class="fa fa-file-text"></i> Learn About UV Crimes</h2>
        <p>Review local laws and learn how to avoid becoming a victim of crime.</p>
    </div>
    <div class="col-md-4">
        <h2><i class="fa fa-question"></i> Seek Help</h2>
        <p>Ask questions or view frequently ask questions and answers from others.</p>
    </div>
</div>