@model Participation3.Models.FriendGiftViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h3>I like gifts</h3>
    @Html.Partial("PartyGifts")
<hr />

<h3>I also like my friends!!</h3>
    @Html.Partial("PartyFriends")
<hr />
