@using Participation3.Models
@model IEnumerable<Gift>
@{
    ViewBag.Title = "My Gift";
}

<h2>My Gift</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Gift Name</td>
            <td>Store Location</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var gft in Model)
        {
            <tr>
                <td>@gft.Name</td>
                <td>@gft.StoreLocation</td>
                <td>@gft.Price.ToString("c")</td>
            </tr>
        }
    </tbody>
</table>

@section Footer {
    <p>&copy; @DateTime.Now.Year - Gift Footer</p>

}
